body {
}

/*Data view table style */
.headerq {
    background-color: #87daff;
    margin-top:40px;
}





.select-date{
    text-align:center;
    font-size:16px;
    display:flex;
    justify-content:center;
}

.form-control{
    width: 160px;
    height: 30px;
    margin:10px;
}

.day {
    padding: 3px 30px;
    border:none;
    color:#000000;
    border-radius:4px;
}

.day:hover {
    background-color: #cf8600;
}

.salesbox {
    background-color: #BBE7FE;
    height: 140px;
}

.tab-section {
    margin-top: 70px;
}

.tabs {
    padding: 5px;
    background-color: #BBE7FE;
}

    .tabs button {
        width: 130px;
        background-color: #BBE7FE;
        color: #000;
        border: none;
        border-radius: 2px;
    }



.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid orange;
    padding: 10px;
    height: 60px;
    margin: 10px;
    background-color: #77a4bc;
}

.cardbody-item {
    background-color: #f4f0f0;
    padding: 2px 0px 7px 7px;
    border-radius: 2px;
}

.img-fluid{
    width:20px !important;
}

.title {
    width: 120px;
    font-size: 10px;
    font-weight: 600;
    border: none;
    text-align: start;
}


@media (max-width: 576px) {
    body{
        
    }

    .tabs {
        padding: 5px;
        background-color: #BBE7FE;
    }

    .tabs button {
        width: 80px;
        font-size: x-small;
        background-color: darkgrey;
        border: none;
        border-radius: 2px;
    }

    .card-body {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        border: 1px solid orange;
        padding: 4px;
        height: fit-content;
        margin: 1px;
        background-color: #BBE7FE;
    }

    .cardbody-item {
        background-color: #f3eded;
        padding-bottom: 4px;
        border-radius: 2px;
        margin: 2px;
    }

    .img-fluid {
        width: 20px !important;
    }

    .title {
        width: 100px;
        font-size: 10px;
        font-weight: 600;
        border: none;
        text-align: start;
    }

}